body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: justify;
    color: #696969;
}
h1{
    font-size: 50px;
    line-height: 0;
}
h2{
    font-size: 40px;
}
.color{
    color: #007bff;
}
.btn-style{
    text-decoration: none;
    background: #007bff;
    padding: 15px 40px;
    line-height: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.flex-box{
    display: flex;
    margin-bottom: 100px;
}
.box-size{
    width: 50%;
    padding-left: 8%;
}
.box-size img{
    width: 60%;
}
/* border left style */
.b-left{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    padding-top: 30px;
}
/* Section two css */
#sec-two h2{
    text-align: center;
}
.sec2-box{
    margin: 0 2%;
    width: 25%;
    border-radius: 30px;
    padding: 20px 40px 20px;
}
.sec2-box img{
    width: 40%;
}
/* Section three css */
#sec-three{
}
#sec-three h2 {
    line-height: 20px;
}
#sec-three p {
    width: 75%;
    margin-bottom: 40px;
}
.pd-left-8{
    padding-left: 8%;
}
.pd-left-6{
    padding-left: 6%;
}
.col-s{
    width: 30%;
}
.col-l{
    width: 65%;
}
.col-s img{
    width: 100%;
}

/* section four css */
#sec-four h2{
    line-height: 20px;
}
#sec-four p{
    width: 80%;
    margin-bottom: 40px;
}